<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.natta.myorder">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".data.FireBaseOffline"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.orderhistory.OrderHistoryActivity"
            android:label="ประวัติการสั่งอาหาร" />
        <activity
            android:name=".view.login.LoginActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.forgotpassword.ForgotPasswordActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".view.register.Register1Activity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".view.register.Register2Activity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".view.myprofile.MyProfileActivity"
            android:label="โปรไฟล์ของฉัน"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".view.restaurant.RestaurantActivity"
            android:label="ร้านอาหาร" />
        <activity
            android:name=".view.restaurantdetail.RestaurantDetailActivity"
            android:label="รายละเอียดร้านอาหาร"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".view.food.FoodActivity"
            android:label="เมนู" />
        <activity
            android:name=".view.fooddetail.FoodDetailActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".view.myorder.MyOrderActivity"
            android:label="รายการอาหารของฉัน" />
        <activity
            android:name=".view.payment.PaymentActivity"
            android:label="ชำระเงิน" />
        <activity
            android:name=".view.favorite.FavoriteActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".view.randomfood.RandomFoodActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".view.aboutapplication.AboutApplicationActivity"
            android:label="เกี่ยวกับแอพพลิเคชั่น" />
        <activity
            android:name=".view.opsl.OPSLActivity"
            android:label="Open source library" />
        <activity
            android:name=".view.orderdetail.OrderDetailActivity"
            android:label="รายละเอียดออเดอร์" />
    </application>

</manifest>